.detail_title {
    text-decoration: none;
    text-align: left;
    font-family: 'ttf', sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
    @media (max-width: 650px) {
        margin-bottom: 10px;
        font-size: 22px;
        line-height: 26px;
    }
}

.detail_container {
    width: 80%;
}

.post_banner {
    object-fit: cover;
}

@media(max-width:1000px) {
    .detail_container {
        width: 100%;
    }
}

.img_banner_container {
    height: 100px !important;
    // width: 80%;
    // margin: auto;
    margin-top: 50px;
}

.banner_img {
    max-height: 330px;
}

.banner_img_top {
    max-height: auto;
    margin-top: 20px;
}

@media (max-width: 1200px) {
    .banner_img {
        max-height: auto;
    }
}

@media (max-width: 1000px) {
    .banner_img_top {
        max-height: auto;
    }

    .banner_img {
        max-height: auto;
    }
}

@media (max-width: 900px) {
    .banner_img_top {
        max-height: auto;
    }

    .banner_img {
        max-height: auto;
    }
}

@media (max-width: 750px) {
    .banner_img_top {
        max-height: auto;
    }

    .banner_img {
        max-height: auto;
    }
}

@media (max-width: 600px) {
    .banner_img_top {
        max-height: auto;
        border-radius: 10px;
    }

    .banner_img {
        max-height: auto;
    }
}

@media (max-width: 500px) {
    .banner_img_top {
        max-height: auto;
    }

    .banner_img {
        max-height: auto;
    }
}

@media (max-width: 400px) {
    .banner_img_top {
        max-height: auto;
    }

    .banner_img {
        max-height: auto;
    }
}

.social_container {
    margin-top: 25px;
    height: auto;
    display: inline-flex;
    column-gap: 0px;
    flex-wrap: nowrap;
    row-gap: 14px;
    transform: scale(1);
}

.social_container a {
    width: 90px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0.7);
    transform-origin: left;
    border-radius: 16px;
    transform: scale(0.8);

}

@media (max-width:1600px) {

    .social_container a {
        width: 75px;
        height: 50px;
        transform: scale(0.7);
    }
}

@media (max-width: 768px) {
    .social_container {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 600px) {
    .social_container {
        margin-left: 0;
        column-gap: 14px;
        margin-right: 0;
    }

    .social_container a {
        transform: scale(1);
        width: 50px;
        height: 35px;
    }
}

.social_container a:hover {
    background-color: #d3f920;
}

.social_container a img {
    width: auto;
    height: auto;
}

.x {
    width: auto;
    height: auto;
}

.facebook_image {
    height: auto;
    width: auto;
}

.vk-button {
    width: auto;
    height: auto;
    transform: scale(1);


}

.copy_link {
    width: auto;
    height: auto;
}

@media (max-width: 600px) {
    .vk-button {
        transform: scale(1.2);
    }

    .telegram {
        // transform: scale(1.2); 
    }

    .x {
        transform: scale(0.9);
    }

    .facebook_image {
        transform: scale(0.6);

    }

    .copy_link {
        // transform: scale(1.2); 
    }
}

.post_img {
    border-radius: 30px;
}

.text ul li {
    list-style: disc;
}

.text ul {
    margin-left: 20px;
}

.text {
    p{
        font-size: 18px;
    }
    h1 {
        font-size: 32px !important;
        font-family: 'ttf',sans-serif;
    }

    h2 {
        font-size: 28px !important;
    }

    h3 {
        font-size: 24px !important;
    }

    h4 {
        font-family: 'ttf',sans-serif;
        font-size: 20px !important;
    }

    h5 {
        font-size: 16px !important;
    }

    h6 {
        font-size: 12px !important;
    }
    blockquote{
        font-family: 'ttf',sans-serif;
        line-height: 26px;
    }
}

.embed-responsive {
    max-width: 100%;
    overflow: hidden;
}

.embed-responsive iframe {
    width: 100%;
    height: auto;
    border: none;
}

.text iframe {
    margin-top: 20px;
    // width: 60%;
    // margin-left: 20%;
    // height: fit-content;
    overflow: clip !important;

    // @media (max-width:1420px) {
    //     height: 90vh;
    // }

    // @media (max-width:960px) {
    //     height: 93vh;
    // }

    // @media (max-width:800px) {
    //     height: 82vh;
    // }

    // @media (max-width:600px) {
    //     width: 90%;
    //     margin-left: 5%;
    //     height: 96vh;
    // }

    // @media (max-width:500px) {
    //     height: 83vh;
    // }

    // @media (max-width:400px) {
    //     height: 72vh;
    // }

    // @media (max-width:360px) {
    //     height: 65vh;
    // }

}

// .text iframe #document html {
//     overflow: clip !important;
// }

// body {
//     overflow-y: clip !important;
// }

// .body {
//     overflow-y: auto !important;
// }

// .webkit {
//     overflow-y: clip;
//     overflow: hidden;
// }

// .content-scroll {
//     overflow-y: clip !important;
// }

// body {
//     overflow-y: hidden !important;
// }

// @media (min-width: 1px) {
//     body {
//         overflow-y: auto !important;
//     }
// }

.text {

    iframe {
        margin: 20px auto !important;
        display: block;

    }
}

.twitter-tweet {
    margin: auto;
}