/* @import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap"); */
/* @import url("https://fonts.cdnfonts.com/css/tt-travels-next-trl"); */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url(./fonts.css); */

* {
  font-family: "Montserrat", sans-serif;
  /* font-family: "TT Travels Next Trl", sans-serif; */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'ttf';
  src: url('./ACTAY-REGULAR.OTF') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'ttf';
  src: url('./ACTAYWIDE-BOLD.OTF') format('truetype');
  font-weight: 700;
  font-style: normal;
}



.header_font {
  font-family: 'ttf', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding-inline: 4vw;

}

@media(max-width:1000px) {
  .container {
    width: 100%;


  }
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #08a284;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}

.ant-pagination-item-active {
  border: none !important;
}

.ant-pagination-prev,
.ant-pagination-next {
  position: relative;
}